CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false

database.default.hostname = localhost
database.default.database = pot_protesis
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_general_ci

app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
app.sessionCookieName = 'pot_ci4_session'
app.sessionExpiration = 7200
app.sessionSavePath = WRITEPATH . 'session'

logger.threshold = 4

seed.admin.username = admin
seed.admin.password = ChangeMe123!
seed.admin.full_name = Administrador POT
seed.admin.role = admin
